<link href="{{ 'assets/css/bootstrap.min.css' | theme }}" rel="stylesheet" type="text/css">

<link href="{{ 'assets/css/font-awesome.min.css' | theme }}" rel="stylesheet" type="text/css">

<link href="{{ 'assets/css/flickity.min.css' | theme }}" rel="stylesheet" type="text/css">
<link href="{{ 'assets/css/magnific-popup.css' | theme }}" rel="stylesheet" type="text/css">

<link href="{{ 'assets/css/dione_main.min.css' | theme }}" rel="stylesheet" type="text/css">
<link href="{{ 'assets/css/dione_style.css' | theme }}" rel="stylesheet" type="text/css">

<link href="{{ 'assets/css/dione_color_green.css' | theme }}" rel="stylesheet" type="text/css">
<link href="{{ 'assets/css/switch-style.css' | theme }}" rel="stylesheet" type="text/css">
<link href="{{ 'assets/css/custom.css' | theme }}" rel="stylesheet" type="text/css">

<!--[if lt IE 8]>
<script src="{{ 'assets/js/modernizr.min.js' | theme }}"></script>
<![endif]-->