<script src="{{ 'assets/js/jquery.min.js' | theme }}"></script>

<script src="{{ 'assets/js/bootstrap.min.js' | theme }}"></script>

<script src="{{ 'assets/js/pace.min.js' | theme }}"></script>
<script src="{{ 'assets/js/debouncer.min.js' | theme }}"></script>
<script src="{{ 'assets/js/jquery.easing.min.js' | theme }}"></script>
<script src="{{ 'assets/js/jquery.inview.min.js' | theme }}"></script>
<script src="{{ 'assets/js/jquery.matchHeight.js' | theme }}"></script>
<script src="{{ 'assets/js/isotope.pkgd.min.js' | theme }}"></script>
<script src="{{ 'assets/js/imagesloaded.pkgd.min.js' | theme }}"></script>
<script src="{{ 'assets/js/flickity.pkgd.min.js' | theme }}"></script>
<script src="{{ 'assets/js/jquery.countTo.js' | theme }}"></script>
<script src="{{ 'assets/js/jquery.magnific-popup.min.js' | theme }}"></script>
<script src="{{ 'assets/js/jquery.validate.min.js' | theme }}"></script>

<script src="{{ 'assets/js/jquery.countdown.min.js' | theme }}"></script>

<script src="{{ 'assets/js/main.js' | theme }}"></script>
<script src="{{ 'assets/js/switch-style.js' | theme }}"></script>
