
<nav id="navigation" class="navbar navbar-fixed-top navbar-white">
    <div class="container">
        <div class="row">
            <div class="navbar-header col-md-3">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-dione">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll font-family-alt letter-spacing-1 text-extra-large text-uppercase"
                   href="#page-top">
                    <img class="logo-navbar-dark" src="assets/images/logo-text-white.png" alt="" />
                    <img class="logo-navbar-white" src="assets/images/logo-text-dark.png" alt="" />
                </a>
            </div>

            <div id="navbar-dione" class="navbar-collapse collapse col-md-9 pull-right">
                <ul class="nav navbar-nav font-family-alt letter-spacing-1 text-small text-uppercase">
                    <li><a href="#about" class="page-scroll">About</a></li>
                    <li><a href="#venue" class="page-scroll">Venue</a></li>
                    <li><a href="#speakers" class="page-scroll">Speakers</a></li>
                    <li><a href="#schedule" class="page-scroll">Schedule</a></li>
                    <li><a href="#hotels" class="page-scroll">Hotels</a></li>
                    <li><a href="#ticket" class="page-scroll">Register</a></li>
                    <li><a href="#contact" class="page-scroll">Contact</a></li>
                </ul>
            </div>

        </div>

    </div>

</nav>
