
<section id="contact" class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h3 class="display-block font-weight-300 letter-spacing-1 title-large">157 Sunset Road<br>Cikampek
                    Utara, Jawa Barat</h3>
                <div class="margin-5 no-margin-bottom no-margin-rl">
                    <div class="display-inline-block margin-7 no-margin-left no-margin-tb">
                        <i
                            class="fa fa-envelope-o display-block text-base-color xs-title-large title-extra-large-2"></i>
                        <span
                            class="display-block margin-5 no-margin-bottom no-margin-rl text-gray-dark-2 xs-text-large title-small">E:
                                <a href="https://demo.lucky-roo.com/cdn-cgi/l/email-protection" class="__cf_email__"
                                   data-cfemail="b2d7dcc3c7dbc0cbf2d6dbdddcd79cd1dddf">[email&#160;protected]</a></span>
                    </div>

                    <div class="display-inline-block">
                        <i class="fa fa-phone display-block text-base-color xs-title-large title-extra-large-2"></i>
                        <span
                            class="display-block margin-5 no-margin-bottom no-margin-rl text-gray-dark-2 xs-text-large title-small">P:
                                +0264 123 4567</span>
                    </div>

                </div>

            </div>

        </div>

    </div>

</section>
