
<div id="countdown" class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div
                    class="countdown bg-white border border-gray-light border-round sm-no-padding-rl no-padding-rl sm-padding-5 padding-2-5 position-relative">
                    <div class="no-padding-tb padding-3-5">
                        <div class="row">
                            <div class="col-md-6" data-mh="mh-col-countdown">
                                <div class="display-table height-100 width-100">
                                    <div class="display-table-cell vertical-align-middle sm-text-center">
                                            <span
                                                class="display-block font-family-alt font-weight-700 letter-spacing-1 xs-text-extra-large title-medium text-uppercase">Save
                                                The Date. <span class="text-decoration-underline text-base-color">Don't
                                                    Miss It!</span></span>
                                        <span
                                            class="display-block font-family-alt margin-1 no-margin-bottom no-margin-rl text-large text-gray-dark">Book
                                                your place right now! <span class="font-weight-700 text-black">57
                                                    seats</span> remaining.</span>
                                    </div>

                                </div>

                            </div>

                            <div class="col-md-6 sm-margin-4 sm-no-margin-bottom sm-no-margin-rl"
                                 data-mh="mh-col-countdown">
                                <div id="clock" data-until-date="2022/09/11" class="clock"></div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
