[section hotels]
handle = "Hotels"
==
<section id="hotels" class="bg-white">
    <div class="container">
        <div class="row no-padding-rl no-padding-top padding-8">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h3
                    class="font-family-alt font-weight-700 letter-spacing-2 text-uppercase xs-title-small title-medium title-sideline-base-color">
                    Hotels</h3>
                <p class="font-family-alt margin-3 no-margin-bottom no-margin-rl text-gray-dark-2 text-large">{{ hotels.text }}</p>
            </div>
        </div>

        <div class="row">

            {% for hotel in hotels.hotels %}
            <div class="features-box col-sm-6 col-md-4">
                <div class="border border-gray-light border-round box-shadow-yes position-relative"
                     data-mh="mh-features-box-v3">
                    <div class="display-table height-100 no-padding-rl padding-7 width-100">
                        <div class="display-table-cell no-padding-tb padding-8 vertical-align-middle">
                            <a href="#" class="text-black"><span
                                class="display-block font-family-alt font-weight-700 letter-spacing-1 text-large text-uppercase">{{ hotel.name }}</span></a>
                            <span
                                class="bg-base-color display-inline-block margin-3 no-margin-bottom no-margin-rl separator-line-thick"></span>
                            <span
                                class="display-block margin-2 no-margin-bottom no-margin-rl text-medium text-gray-dark-2">{{ hotel.info | raw }}</span>
                        </div>

                    </div>

                </div>

            </div>
            {% endfor %}

        </div>

    </div>

</section>