[section slider]
handle = "Slider"
==
<section id="home-with-countdown"
         class="bg-cover bg-gray-dark-2 bg-overlay-black-6 display-table height-100 no-padding width-100">
    <div class="display-table-cell vertical-align-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h2
                        class="display-block font-family-alt font-weight-700 letter-spacing-2 text-uppercase text-white xs-title-extra-large sm-title-extra-large-3 title-extra-large-5">
                        {{ slider.big_text }}
                    </h2>
                    <p
                        class="font-family-alt letter-spacing-1 margin-3 no-margin-bottom no-margin-rl text-gray-light xs-text-large text-extra-large text-uppercase">
                        {{ slider.small_text }}
                    </p>
                    <a href="{{ slider.button_url }}"
                       class="page-scroll btn btn-base-color sm-btn-medium btn-large margin-4-5 no-margin-bottom no-margin-rl">{{ slider.button_text }}</a>
                </div>

            </div>

        </div>

    </div>

</section>